:root {
  --bgcolor: var(--text-color-light);
  --text-color: var(--text-color-dark);
}

.demos {
  min-height: 350px;
  padding: var(--padding-section);
  background-color: var(--demos-bgcolor);
  position: relative;
}

.demos__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-section);
  justify-content: center;
  padding: var(--padding-section);
  width: 100%;
  margin: 0 auto;
}

.demos__item {
 width: calc(45% - 2rem);
  padding: var(--padding-horizontal);
  color: var(--text-color);
  background-color: var(--bgcolor);
  box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-md);
  transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
  border-radius: var(--border-radius);
}

.demos__item:hover {
  transform: translateY(-0.375rem);
  box-shadow: -0.75rem 0.75rem 0 var(--primary-color);
  cursor: pointer;
}

.demos__item-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: var(--gap-xs);
  line-height: 1.3;
}

.demos__item-description {
  text-align: center;
  margin-top: var(--gap-xs);
}

.demos__item-icon {
  width: var(--icon-md);
  height: var(--icon-md);
}

.demos__item-title-wrapper+.demos__item-text {
  margin-top: var(--gap-xs);
}

.demos__header {
  padding-bottom: var(--gap-xs);
}

.demos__header-top {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  justify-content: center;
}

.demos__header-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-md);
}

.demos__video {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.demos__video iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
  margin: 0;
}