<!-- TODO: Placeholder text, change when we have it-->
<h3 class="section-title">Muestras de <span class="highlight">trabajo</span>
</h3>
<h6 class="section-subtitle">Descubre cómo el doblaje y la edición de vídeo dan vida a cada proyecto.
</h6>
<div class="demos-container">
    <div class="demos-item">
        <div class="demos-header">
            <div class="demos-header-top">
                <i data-lucide="mic-vocal" class="icon"></i>
                <h4 class="demos-item-title">Reel de Doblaje</h4>
            </div>
            <div class="demos-header-bottom">
                <p class="demos-item-description">
                    Combinación profesional de voz y video para crear proyectos completos listos para publicar.
                </p>
                <a href="/Doblaje" class="btn-link">
                    Ver servicios de Voz <i data-lucide="move-right"></i>
                </a>
            </div>
        </div>

        <div class="demos-video">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/JN_lAfxlKqs" title="Video"
                frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  <div class="demos-item">
        <div class="demos-header">
            <div class="demos-header-top">
                <i data-lucide="monitor-play" class="icon"></i>
                <h4 class="demos-item-title">Reel de Edición</h4>
            </div>
            <div class="demos-header-bottom">
                <p class="demos-item-description">
                    Combinación profesional de voz y video para crear proyectos completos listos para publicar.
                </p>
                <a href="/Edicion" class="btn-link">
                    Ver servicios de Vídeo <i data-lucide="move-right"></i>
                </a>
            </div>
        </div>

        <div class="demos-video">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/JN_lAfxlKqs" title="Video"
                frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>