<div class="navbar-container">
  <a href="/" class="navbar-logo logo-desktop">
    <img src="assets/white_logo.png" alt="Víctor Moreira" />
  </a>
  <a href="/" class="navbar-logo logo-mobile">
    <img src="assets/icon.png" alt="Víctor Moreira" />
  </a>
  <a class="nav-toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links shift" id="navbarLinks">
    <a href="/" class="navbar-logo logo-mobile"><img src="/assets/white_logo.png" alt="Víctor Moreira" /></a>
    <a href="/doblaje" class="btn btn-md nav-link btn-nav hover-underline-animation center">Doblaje</a>
    <a href="/edicion" class="btn btn-md nav-link btn-nav hover-underline-animation center">Edición</a>
    <a href="/portfolio" class="btn btn-md nav-link btn-nav hover-underline-animation center">Portfolio</a>
    <a href="/contacto" class="btn btn-md btn-cta middle-up-down-in">Contacto</a>
  </div>
</div>