<div class="navbar">
  <div class="navbar__container">
    <div class="header-logo" id="headerLogo">
      <div class="header-logo__image"></div>
      <div class="header-logo__text">Víctor <span class="logo-highlight">Moreira</span></div>
    </div>

    <div class="navbar__toggle" id="navbarToggle">
      <span class="navbar__toggle-bar"></span>
      <span class="navbar__toggle-bar"></span>
      <span class="navbar__toggle-bar"></span>
    </div>

 <div class="navbar__links" id="navbarLinks">
    <a href="/doblaje/" class="button button--nav button--hover-underline">Doblaje</a>
    <a href="/edicion/" class="button button--nav button--hover-underline">Edición</a>
    <a href="/sobre-mi/" class="button button--nav button--hover-underline">Portfolio</a>
    <a href="/contacto/" class="button button--cta middle-up-down-in">Contacto</a>
  </div>
</div>
