<!-- TODO: Placeholder text, change when we have it-->
<h3 class="section-title">Servicios de <span class="highlight">voz y edición</span> Profesional</h3>
<h6 class="section-subtitle">Doblaje, locución y edición de vídeo adaptados a cada proyecto y
    plataforma.</h6>
<div class="services-container">
    <div class="services-item">
        <div class="text-center">
            <i data-lucide="mic-vocal" class="icon"></i>
        </div>
        <div class="text-center letter-spacing">
            <h4 class="services-item-title">Doblaje</h4>
        </div>
        <div class="services-text">
            <p class="services-item-description">Voz para publicidad, series, animación y videojuegos. Grabaciones en
                estudio o remoto.</p>
        </div>
        <div>
            <a href="/Doblaje" class="btn-link">
                Ver servicios de Voz <i data-lucide="move-right"></i>
            </a>
        </div>
    </div>
    <div class="services-item">
        <div class="text-center">
            <i data-lucide="clapperboard" class="icon"></i>
        </div>
        <div class="text-center letter-spacing">
            <h4 class="services-item-title">Vídeo</h4>
        </div>
        <div class="services-text">
            <p class="services-item-description">Montaje, corrección de color, VFX básicos y entrega en formatos para
                broadcast y redes.</p>
        </div>
        <div>
            <a href="/Edicion" class="btn-link">
                Ver servicios de Vídeo <i data-lucide="move-right"></i>
            </a>
        </div>
    </div>
    <div class="services-item">
        <div class="text-center">
            <i data-lucide="monitor-play" class="icon"></i>
        </div>
        <div class="text-center letter-spacing">
            <h4 class="services-item-title">Producción</h4>
        </div>
        <div class="services-text">
            <p class="services-item-description">Combinación profesional de voz y video para crear proyectos completos
                listo para publicar.</p>
        </div>
        <div>
            <a href="/Doblaje" class="btn-link">
                Ver servicios de Produccón <i data-lucide="move-right"></i>
            </a>
        </div>
    </div>
</div>